extends ../_component/layout/template

block cool-config
  -
    var myTitle = 'Learn to code JavaScript for beginners';
    var myDescription = 'JavaScript is interestin and fun to learn!';
    var landingPage = 'JavaScript';
    var activeLink = ''; 

block awesome-content
  h1=myTitle 
  p=myDescription 
  h2 JavaScript 
  p JavaScript is the programming language of HTML and the Web.
  p JavaScript is easy to learn.
  p This tutorial will teach you JavaScript from basic to advanced.
  h2 JavaScript Programs 
  p A computer program is a list of "instructions" to be "executed" by a computer.
  p In a programming language, these programming instructions are called statements.
  p A JavaScript program is a list of programming statements.

