extends ../_component/layout/template

block cool-config
  -
    var myTitle = 'Learn to code CSS for beginners';
    var myDescription = 'CSS is easy and fun to learn!';
    var landingPage = 'CSS';
    var activeLink = ''; 

block awesome-content
  h1=myTitle 
  p=myDescription
  h2 CSS 
  p CSS is a language that describes the style of an HTML document.
  p CSS describes how HTML elements should be displayed.
  p This tutorial will teach you CSS from basic to advanced.
  h2 CSS Colors
  p Colors are specified using predefined color names, or RGB, HEX, HSL, RGBA, HSLA values.
  h2 CSS Borders
  p The CSS border properties allow you to specify the style, width, and color of an element's border.
